.container {
    width: 1000px; 
	margin: 60px auto;
	margin-left: -40px;
   
   @mixin atMicro{
		margin-left: -30px;
   }
   
   @mixin atTiny{
		margin-left: -15px;
   }
   
   @mixin atMedium{
		margin-left: 0px;
   }
   @mixin atMediumstage0{
		margin: 60px 12%;
   }
   @mixin atLarge{
		margin: 60px 27%;
   }
}

.income {
	
    width: 475px;
    padding-left:30px;
    
    @mixin atMedium{
		text-align:left;
		float: left;
		width: 350px;
    } 
    
    @mixin atLarge{
		padding-left:10px;
    }
}

.expenses {
    
    width: 475px;
    padding-left:30px;
    
    @mixin atMedium{
		text-align:left;
		float: left;
		width: 355px;
    } 
    
    @mixin atLarge{
		padding-left:10px;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title {
	
	color: $mainStandoutblue; 
}
.expenses__title { 
	margin-top:50px;
	color: $mainStandoutpink; 
	
	@mixin atMedium{
		margin-top:0px;
	}
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
    margin-left: -10px;
    
    @mixin atMedium{
		margin-left: 0px;
    }
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s, opacity 0.3s;
    
}

.item__percentage {
    color: $mainStandoutpink;
    float: left;
    margin-left: -239px;
    transition: transform 0.3s, opacity 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
    margin-top: 50px;
    
    @mixin atTiny{
		margin-left: -115px;
    }
    @mixin atSmall{
		margin-left:20px;
		margin-top: 0px;
    }
    
}

.income .item__value,
.income .item__delete--btn {
    color: $mainStandoutblue;
    margin-left:-320px;
    margin-top: 50px;
    
    @mixin atTiny{
		margin-left: -220px;
		    margin-top: 50px;
    }
    
    @mixin atSmall{
		margin-left:0;
		margin-top: 0px;
    }
}


.expenses .item__value,
.expenses .item__delete--btn {
    color: $mainStandoutpink;
    margin-left:-320px;
    margin-top: 50px;
    @mixin atTiny{
		margin-left: -220px;
		margin-top: 50px;
    }
    
    @mixin atSmall{
		margin-left:46px;
		margin-top: 0px;
    }
}


.item__delete {
    float: left;
    
}

.expenses .item__delete{
	 @mixin atMediumstage0{
		margin-top: -30px;
    }
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); opacity:0;}
.item:hover .item__percentage { transform: translateX(-20px); opacity:0; }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }
